body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
#color{
    color: orange;
}
section{
    display: flex;
}
.c1{
    width: 50%;
    padding-left: 5%;
}
.c1 img{
    width: 75%;
}
.l1{
text-decoration: none;
font-weight: 700;
color: whitesmoke;
padding: 10px 40px;
border-radius: 10px;
background-image: linear-gradient(orange, tomato);
}
.s1{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
